html, body {
    width: 100%;
    height: 100%;
    background: url(../assets/ocean-cartoon-background.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}